.Resume {
  border: 1px solid;
}

.Resume img {
  width: 60%;
  display: block;
  margin: 20px auto;
  border-radius: 15px;
  height: auto;
}

@media only screen and (max-width: 800px), (max-device-width: 800px) {
  .Resume img {
    width: 90%;
  }
}
