.Home .image-container {
  width: 100%;
  height: 40vh;
  position: relative;
  text-align: center;
}

.Home .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 75%;
}

.Home .image-container .over-img {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  border: 1px solid red;
  text-align: center;
  color: white;
  font-family: "Balsamiq Sans", cursive;
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 3px;
}

.Home .about {
  border: 1px solid;
  margin: 5% 20%;
  font-family: "Balsamiq Sans", cursive;
  font-size: 1.4rem;
  letter-spacing: 3px;
  color: rgb(51, 51, 51);
}

.Home .about .head {
  border: 1px solid;
  text-align: center;
}

.Home .about .content {
  border: 1px solid red;
  text-align: center;
  padding: 0 10px;
  line-height: 160%;
  /* margin-top: 0; */
}

@media all and (max-width: 800px) {
  .Home .about {
    margin: 3% 0%;
  }
}

@media all and (max-width: 600px) {
  .Home .about {
    font-size: 1.1rem;
  }
}

@media all and (max-device-width: 800px) {
  .Home .about {
    font-size: 1rem;
  }
}
