.Contact {
  /* border: 1px solid; */
  height: 67vh;
  font-weight: bold;
  width: 100vw;
}

.Contact1 {
  padding: 5% 0 0 15%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.3rem;
  letter-spacing: 3px;
}

.Contact .head {
  /* border: 1px; */
  color: rgb(51, 51, 51);
}

.Contact .group {
  border: 1px solid white;
  line-height: 10%;
  margin: 20px 0;
  color: rgb(80, 80, 80);
}

@media all and (max-device-width: 600px), (max-width: 500px) {
  .Contact1 {
    padding: 10% 10px 0 8px;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 300px), (max-device-width: 300px) {
  .Contact1 {
    padding: 10% 2px 0 2px;
    font-size: 4vw;
  }
}
